<h1>About the team</h1>

Welcome to the implementation Team at Smart Pension where we put in place your new pension arrangement for your employees. 
<p> We will assist you with adding your employees, setting up payroll and moving all your assets from your previous provider. </p>